:root {

    /* Primary Colors */
    --color-very-dark-magenta: hsl(300, 43%, 22%);
    --color-soft-pink: hsl(333, 80%, 67%);

    /* Neutral Colors */
    --color-dark-grayish-magenta: hsl(303, 10%, 53%);
    --color-light-grayish-magenta: hsl(300, 24%, 96%);
    --color-white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-base: 'League Spartan', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

body {
    font-family: var(--ff-base);

    display: grid;
    place-content: center;
    min-height: 100vh;
}

.visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

/* FOOTER */
/* TODO: style footer */
.attribution {
    display: none;
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
